server {
    listen 80;
    
    location /flutter/ {
        alias /usr/share/nginx/html/flutter/;
        try_files $uri $uri/ /index.html;
    }
    
    location / {
        proxy_pass http://backend:8000;
        proxy_set_header Host $host;
    }
}
